@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --pollux-red: #88111f;
    --pollux-black: #030303;
}

.bg-pollux-red {
    background: var(--pollux-red);
}
.bg-pollux-black {
    background: var(--pollux-black);
}
button.pollux-red {
    background: var(--pollux-red);
}
button.pollux-black {
    background: var(--pollux-black);
}
